@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Error</h1>
<h2>Login failed...</h2>
<h3>Invalid Login details or Admin is not verified you!!!</h3>
<div>
    <a asp-controller="DeliveryExecutive" asp-action="Login">Back to login</a>
</div>