@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}
<style>
    body {
        background-color: lightcyan;
    }
</style>


<h2>Welcome!!!</h2>
<br />
<br />
<img src="~/Images/customer.jpg" height="70%" width="50%" />
